<div>
	<h1>PPG ARM </h1>
	<div style="margin-top: 1%; margin-bottom: 1%;">
  		<button type="button" onclick="viewPpgArmData();" class="btn btn-primary">View Latest Signal</button>
	</div>

	<div id="ppgArm_graph"></div>
	<script type="text/javascript">
		function viewPpgArmData() {
			window.open("http://localhost:6969/viewppgarmdata");
		}

		function displayPpgArm() {
			var socket = io.connect('http://localhost:6969', { transports: ['websocket', 'polling'] });

			Plotly.plot('ppgArm_graph', [{
				y: [0],
				mode: 'lines',
				line: {color: '#80CAF6'}
			}]);

			var maxEntryCount = 250;
			var entryCount = 0;
			var timeEntries = [];
			var valueEntries = [];

			socket.on('update ppg arm', function(msg) {
				// console.log("update ppg arm");
				// add entries
				msg.data.forEach(function(data) {
					timeEntries.push(data.time);
					valueEntries.push(data.value);
					entryCount ++;
				})

				// pag sumobra na, remove first element
				while(entryCount > maxEntryCount) {
					timeEntries.shift();
					valueEntries.shift();
					entryCount --;
				}

				// console.log(allEntries);
			});

			// update the display ppgArm_graph
			setInterval(function() {
				var data_update = {
					x: [timeEntries],
					y: [valueEntries]
				};
				Plotly.restyle('ppgArm_graph', data_update);
			}, 500); // ms
		}

		displayPpgArm();
	</script>
</div>
