<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../public/javascripts/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
      <p>hehe</p>
    <!-- <p><%= title %></p> -->
    <!-- <div id="chart"></div> -->

    <!-- <%  console.log(results[0].values[0]); %> -->
    
    <!-- <script>
        var t = "{{ title }}";
        console.log(t);
    </script>
         -->
    

    <!-- 
        Plotly.plot('chart', [{
            y:[theResults[0].values[0]],
            type:'line'
        }]);<script>
        function getData() {
            return Math.random();
        }
        Plotly.plot('chart', [{
            y:[getData()],
            type:'line'
        }]);

        var count = 0;

        setInterval(function() {
            Plotly.extendTraces('chart', { y:[[getData()]] }, [0]);
            count ++;

            if (count > 500) {
                Plotly.relayout('chart', {
                    xaxis: {
                        range: [count-500, count]
                    }
                })
            }
        })

    </script> -->
  </body>
</html>